#header {
<<<<<<< HEAD
    background-color: darkblue;
=======
<<<<<<< HEAD
<<<<<<< HEAD
    background-color: aqua;
=======
    background-color: rgba(255, 0, 0, 0.50);
>>>>>>> 64aaac8ce85f7d3cf22d96dc286e1ffb9d38eae5
=======
>>>>>>> Zach
>>>>>>> fddbfa1111733726f6a618b62ed1dc3ea4fbcc31
    background-size: 100%;
    color:white;
    text-align:center;
    opacity: 0.75;
}

#nav {
    background-color: aliceblue(255, 255, 255, 1.0);
    line-height:30px;
    height:100%;
    width:100px;
    color:black;
    float:left;
    padding:10px;
    margin-right: 20px;
}
#section {
<<<<<<< HEAD
    background-color: darkolivegreen;
    background-size: 100%;
    width: 40%;
    float:right;
    padding:20px;
    color: black;
=======
    background-color: gray;
    background-size: 100%;
    width: 40%;
    float:right;
    padding:10px;
    color: white;
    margin-bottom: 100px;
    margin-top:  100px;
>>>>>>> fddbfa1111733726f6a618b62ed1dc3ea4fbcc31
}
#section2 {
    float: left;
    background-size: 100%;
    width: 40%;
<<<<<<< HEAD
    padding: 20px;
    color: black;
    background-color: darkolivegreen;



}
#footer {
    background-color: darkolivegreen;
=======
    padding: 10px;
    color: white;
    background-color: darkred;
    margin-bottom: 100px;
    margin-top:  100px;
}
#footer {
    background-color: rgb(0, 0, 0);
>>>>>>> fddbfa1111733726f6a618b62ed1dc3ea4fbcc31
    background-size: auto;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    font-size: 10px;
    opacity: 0.75;
}